 /*      RATING     */
 .rating {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    top: 1rem;
    left: 1rem;
    background-color: $light-color;
    opacity: 0;
    z-index: 100;
    line-height: 3rem;
    font-size: 1.2rem;
    font-family: $primary-font;
    text-align: center;
    transition: all .5s;
    border-radius: 50%;
    color: $primary-color;
}



.mb-2{
    margin-bottom: 2rem;
}


//**  Reviewed   **//


.review{
    padding: 4rem;
    font-size: 1.3rem;
    line-height: 1.8;
    margin-left: 10rem;
    border-left: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    transform: skew(-28deg);

    & > *{
        transform: skew(28deg);
    }

    &-tags {
        font-size: 1.5rem;
        color: $light-color;
        text-transform: uppercase;
    }

    &-text {
        margin: 1rem 0;
      
    }

    &-user {
       display: flex; 
       align-items: center;

       img{
           width: 8rem;
           margin-right: 3rem;
           border-radius: 50%;
       }
       &-detail {
           font-family: $primary-font;
           margin-right: 3rem;

           
        }
        .review-user-name {
            color: $primary-color;
          }
        .review-user-date {
         color: $date-color;
          }
          
       &-platform {
           :not(:last-child){
               color: $primary-color;
           }

           .fab {
               margin: 0 1rem;
           }

       }
       &-rating {
           margin-left: auto;

           .checked {
               color: $primary-color;
           }
       }
    }

}


//**   CARD   **//

.card{
    height: 30rem;
    perspective: 1000px;
    margin: 2rem auto;

    &-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .card-front, .card-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: all 1s;
    }

    .card-front {
    background-color: #14151A;

        h4{
            padding: 3rem;
        }
    }

    .card-back{
    background-color: $secondary-color;
    transform: rotateY(180deg);
    display: table;

    &-content {
        display: table-cell;
        vertical-align: middle;

        p {
            font-size: 1.2rem;

        }
        a {
            transition: $general-transition;

            &:hover {
                color: $primary-color;
            }
        }

    }

    }

    &:hover .card-front {
        transform: rotateY(180deg);
    }

    &:hover .card-back {
        transform: none;
    }

}

