/*==========FOOTER START==========*/

footer {
    background-color: $secondary-color;
    height: 6rem;
    font-family: $primary-font;

    .container {
        display: flex;
        align-items: center;
        height: 100%;

        .copyright{
            flex: 1;
            height: 100%;
            

            p {
                line-height: 6rem;
                font-size: 2.4rem;
            }

        }

        .down-social-link {
            flex: 0.5;
            background-color: pink;
            height: 100%;
            display: flex;
            justify-content: space-between;

            .fc, .yt, .tw{
                line-height: 6rem;
                text-align: center;
                width: 100%;
                font-size: 2.4rem;
            }

            .fc {
                background-color: #4b5496;
                
            }

            .tw {
                background-color: rgb(242,76,88);
            }

            .yt {
                background-color: #d92424;
            }
        }
    }
}
/*==========FOOTER END==========*/
